<div id="newGalleryModalForm" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panelheadingImage">
                <h5 class="modal-title">Gallery</h5>
                <button type="button" class="close btn-sm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            
                    <div class="form-row">
                        <div class="form-group col-md-12">
                        <label for="galleryPath">Gallery Path</label>
                        <input type="text" class="form-control" name="galleryPath" id="galleryPath">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                        <label for="ProjectId">Project Id</label>
                        <input type="text" class="form-control" name="ProjectId" id="ProjectId">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                        <label for="Faculty">Faculty</label>
                        <input type="text" class="form-control" name="Faculty" id="Faculty">
                        </div>
                    </div>
                                  

                    <div class="row">
                        <div class="col-md-12 text-end">
                        <button class="btn btn btn-default btn-sm modal-dismiss" data-dismiss="modal" style="background-color: red;" id="btnGallery">Save</button>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
