<div id="newProjectProgressModalForm" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="opacity:1 !important;">
    <div class="modal-dialog" role="document" style="max-width: 1350px!important;">
        <div class="modal-content">
            <div class="panel" style="border-radius: 5px; border: 2px solid #7777;border-color:#ec5800;">
                <div class="panel-heading panelheadingImage">Project Progress</div>

                <div class="form-group row">

                    <label class="col-md-2 col-form-label" for="numberofyears"><span style="color:red">* </span>Number of years</label>
                    <div class="col-md-10">
                        <select id="numberofyearslist" aria-expanded="true" class="form-control" required="">
                                                  </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="projectProgress"><span style="color:red">* </span>Project Progress</label>
                    <div class="col-md-10">
                       <textarea class="form-control" id="projectProgress" rows="5" cols="100" placeholder="Project Progress"></textarea>
                    </div>
                </div>

            </div>
            <br />
   
            <div class="pull-right">
                <div class="col-md-12">
                    <button type="button" id="btnCancel" class="btn btn-default btn-sm btn-sm CancelModal" style="background-color: #7777; border-color: #7777; width:100px; margin-right:10px">
                        Cancel
                    </button>
                    <button class="btn btn-default btn-sm" type="button" style="width:155px" id="btnProjectProgress" disable><i class="fa fa-save"></i> Add </button>
                </div>
            </div>
            <br />
           
        </div>
    </div>
</div>


