<div id="ModalMyProfile" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">My Profile</h5>
                <button type="button" class="close btn-sm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row ng-star-inserted" style="">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input class="form-control" id="myfirstname" name="myfirstname" readonly="" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="LastName">LastName</label>
                            <input class="form-control" id="mysurname" name="mysurname" readonly="" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class="form-control" id="mytitle" name="mytitle" readonly="" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nationality">Nationality</label>
                            <input class="form-control" id="mynationality" name="mynationality" readonly="" type="text">
                        </div>
                    </div>
              
                    <div class="col-md-6">
                        <div class="form-froup">
                            <label for="emailAddress">Email Address</label>
                            <input class="form-control" id="myemailAddress" name="myemailAddress" readonly="" type="text">

                        </div>
                    </div>
                 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="myfaculty">Faculty</label>
                            <input class="form-control" id="myfaculty" name="myfaculty" readonly="" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="mydepartment">Department</label>
                            <input class="form-control" id="mydepartment" name="mydepartment" readonly="" type="text">
                        </div>
                    </div>

           
                    <div class="col-md-6">
                        <div class="from-group">
                            <label for="telephoneNumber">Telephone Number</label>
                            <input class="form-control" id="mytelephoneNumber" name="mytelephoneNumber" readonly="" type="text" value="0115594595">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="from-group">
                            <label for="campus">Campus</label>
                            <input class="form-control" id="mycampus" name="mycampus" readonly="" type="text" value="Auckland Park Kingsway Campus">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="from-group">
                            <label for="position">Position</label>
                            <input class="form-control" id="myposition" name="myposition" readonly="" type="text" value="Systems Administrator Oracle">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="from-group">
                            <label for="campus">Race</label>
                            <input class="form-control" id="myrace" name="myrace" readonly="" type="text" value="African">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="from-group">
                            <label for="position">Gender</label>
                            <input class="form-control" id="mygender" name="mygender" readonly="" type="text" value="Female">
                        </div>
                    </div>

         
                    <div class="row">
                        <div class="col-md-12">
                            <br />
                            <button class="btn btn-primary nextBtn pull-right" id="btnNext" data-dismiss="modal" style="width:100px" type="button"><i class="fa fa-arrow-right"></i> Close </button>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
