<!-- Modal -->
<div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content-pinner">
                <div class="modal-body">
                    <div class="loader loader-lg" id="dvspinner"></div>
                </div>
            </div>
        </div>
    </div>
</div>