
            <div class="form-group row">

                <div class="col-md-2">
                    <select id="SustainableDevelopmentGoals" class="form-control" aria-expanded="true" required>
                    </select>
                </div>

                <div class="col-md-2">
                    <input id="ProjectName" class="form-control" placeholder="Project name">
                </div>

                <div class="col-md-2">
                    <input id="ProjectOwner" class="form-control" placeholder="Project owner">
                </div>

                <div class="col-md-2">
                    <input id="ReferenceNumber" class="form-control" placeholder="Reference number">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default btn-sm" type="button" style="width:155px" id="btntGeneralProject" disable><i class="fa fa-search"></i> search</button>
                </div>
            </div>

           
